<app-header></app-header>

<div style="background-color: #f4f8fb; padding-bottom: 228px;">
  <div class="container" style="padding-top: 80px;">
      <h2 style="color: #404040;">Previous Orders</h2>
      <div class="card" >
          
          <table class="table table-striped" >
              <thead>
                <tr>
                    <th>#</th>
                    <th>Order No.</th>
                    <th>Date</th>
                    <th>Order Items</th>
                    <th>Total Price</th>
                    <th>User Name</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
              </tbody>
            </table>
        </div>
  </div>
</div>

<app-footer></app-footer>
